<div class="w3-half">
  <h3>Bath Time</h3>
  <ol>
    <li>Grab a towel</li>
    <li>Get clothes</li>
    <li>Start water</li>
    <li>Get show going</li>
    <li>Take bath</li>
    <li>Dry off</li>
    <li>Put on lotion</li>
    <li>Get dressed</li>
  </ol>
  <button id="bath" class="w3-btn w3-green w3-round" value="bath 50">Bath</button>
</div>
<script>
 $("document").ready(function(){
$("#bath").click(function(){
      let points = localStorage.getItem("points")
      let newPoints = parseInt(points) + 50
      localStorage.setItem("points", newPoints)
      $("#num").html("Gio : " + newPoints)
    })
 });
</script>
