<h2 id="num"></h2>
<div class="w3-half">
  <h2>Positive</h2>
  <button id="add10" class="w3-green w3-button w3-round">10</button>
</div>
<div class="w3-half">
  <h2>Negative</h2>
  <button id="neg10" class="w3-red w3-button w3-round">-10</button>
</div>
<script>
  $("document").ready(function(){
    let base = 0
    let points = localStorage.getItem("points")
    if(points > 0){
      $("#add10").click(function(){
        let newPoints = points + 10
        localStorage.setItem("points", newPoints)
        $("#num").html(newpoints)
      });//end of add
    }else if(points <= 0){
      $("#add10").click(function(){
        let newPoints = base + 10
        localStorage.setItem("points", newPoints)
        $("#num").html(newpoints)
      });//end of add
    }//end of if else
    
    
  });
</script>
