<h2>Prizes</h2>
<div>
  <p id="results"></p>
  <form id="newprize">
    <input id="prize" type="text" placeholder="Prizename" autocomplete="off"></input>
    <input id="amount" type="number" placeholder="Point Value" autocomplete="off"></input>
    <button id="add">Add Prize</button>
  </form>
</div>
<script>
  $("document").ready(function(){
    $("#add").click(function(event){
     let x = document.getElementById("newprize")
     let text = ''
     var i;
      for(i = 0;, i < x.length; i++){
        text += x.elements[i].value + "<br>"
      }
      $("#results").html(x)
      
    });//end of add 
  }); //end of doc ready
</script>
