<h2>Prizes</h2>
<div>
  <h2 id="current"></h2>
  <div class="bp">
  <button id="box" value=250>Prize Box</button>
  </div>
  </div>
<script>
  $("document").ready(function(){
    $('.bp').hide();
    let points = parseInt(localStorage.getItem("points"))
    $("#current").html(points)
    if(points >= 250){
      $('.bp').show();
    }//end of if 
    $("#box").click(function(event){
      let num = event.target.value
      let points = localStorage.getItem("points")
      let newPoints = parseInt(points) - num 
      localStorage.setItem("points", newPoints)
      $("#current").html(newPoints)
    });
  });
</script>
